
h1,h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 23px;
  }
.weatherWrapper{
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

}

.weatherWrapper input{
    padding: 10px;
    margin-right: 8px;
    border-radius: 5px;
    border: none;
}

.weatherWrapper button{
    background: #152b35;
    border: none;
    color: #fff;
    padding: 6px 10px 7px 10px;
    font-size: 12px;
    border-radius: 4px;
}
.listData {
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.listData li {
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}
.listData li h5 {
    font-size: 14px;
    margin-bottom: 6px;
}
.toogleBtn {
    position: absolute;
    right: 10px;
    padding: 12px;
    background: #152b35;
    border: none;
    color: #fff;
    border-radius: 10px;
    top: 8px;
    cursor: pointer;
}

.toogleBtn button {
    border: none;
    color: #fff;
    background: none;
}
h2.error {
    margin-top: 21px;
    background: #d98c8c;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 17px;
}

@media (max-width:1024px){
    .weatherWrapper{
        padding: 0 30px;
    }
    
    
}

@media (max-width:767px){
    .weatherWrapper{
        padding:47px 15px 0;
       
    }
    h1 ,h2{
        font-size: 19px;
        margin-bottom: 16px;
    }
    .listData {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .listData li {
        padding: 4px;
        width: 48%;
    }
    .listData li h5 {
        font-size: 11px;
        margin-bottom: 3px;
    }
    .toogleBtn {
        padding: 5px;
        border-radius: 5px;
        font-size: 11px;
    }
    .toogleBtn button {
        font-size: 12px;
    }
}